.button-cart {
  margin-top: 7.5em;
}

.button-wish {
  margin-top: 1em;
}

.description {
  margin-top: 20px;
}

.descriptionText {
  font-size: 0.75rem;
  /* margin-top: 10px; */
}

.trailer {
  margin-top: 4em;
}
