.nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 0;
}

.nav-header-title {
  font-size: 2.5rem;
}

.nav-icons {
  position: relative;
}

.nav-buttons {
  background: none;
  border: 0;
  font-size: 30px;
  margin-left: 20px;
  margin-bottom: 10px;
  outline: none;
  cursor: pointer;
}