.navbar {
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  margin: 0 10px;
}

.nav-text {
  margin: 0;
}

.navbar-buttons {
  background: none;
  border: 0;
  outline: none;
}